
:root {
  --color-primary: #5b21b6;
  --color-primary-light: #7c3aed;
  --color-accent: #38bdf8;
  --color-dark: #020617;
  --color-gray: #f1f5f9;
  --color-white: #ffffff;
  --color-text-light: #94a3b8;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    
}

body {
    
  margin: 0;
  min-height: 100vh;
  background:
    radial-gradient(
      circle at top right,
      #e0f2fe,
      transparent 40%
    ),
    radial-gradient(
      circle at bottom left,
      #dcfce7,
      transparent 40%
    ),
    linear-gradient(
      180deg,
      #f8fafc 0%,
      #eef2f7 100%
    )



}

/*MAIN CONTAINER*/
.container {
    display: flex;
    transition: all 0.3s ease;

}

/* SIDEBAR*/
.sidebar {
    width: 220px;
    background: #1f2937;
    color: #fff;
    padding: 30px 20px;
    display: flex;
    flex-direction: column;
    position: relative;
    transition: left 0.3s ease;
    z-index: 1000;
   
}
.sidebar-hidden {
  display: none;

}
.sidebar-visible {
  display: block;
  transition: all 0.999s ease;
}
.sidebar .logo {
    font-size: 1.8rem;
    font-weight: bold;
    margin-bottom: 30px;
    text-align: center;
    color: #10b981;
}

.logo img {
    width: 180px;
}

.login{
  border: none;
  padding: 0.5rem ;
  font-size: 12px;
  font-family: inherit;
  text-align: center;
  width:80px;
  border-radius: 10rem;
  margin-right: 1rem;
  color: inherit;
  border: 1px solid #fff;
  transition: all 0.3s;
}
.login_btn{
    width: 40px;
}
.login_btn:hover{
    background: #66c873;
    transition: all 0.5s ease-in-out;
}
.nav-links {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.nav-links li {
    text-align: center;
}

.nav-links li a {
    text-decoration: none;
    color: #fff;
    padding: 10px 15px;
    border-radius: 8px;
    transition: 0.3s;
    display: block;
}

.nav-links li a:hover {
 color:#ffcb03;
}
.logout{
    margin-top: 200px;
    border-top: 1px solid rgb(169, 162, 151);
}
.logout a{
    margin-top: 20px;

}
.logout a:hover{
   color: #f5465d;
   text-decoration: underline;
}

.close-btn {
    font-size: 1.8rem;
    cursor: pointer;
    margin-bottom: 20px;
    display: none;
}


  /* MAIN CONTENT */

.main {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 25px 30px;
    transition: all 0.3s ease;
}

/* TOPBAR */
.topbar {
    display: flex;
    align-items: center;
    margin-bottom: 25px;
}

.topbar h1 {
    font-size: 1.6rem;
    flex: 1;
    color: #111827;
}

.user {
    font-weight: 500;
    color: #111827;
}
.hidden {
  display: none;
 
}

.visible {
  display: block;
  visibility: visible;
  transition: all 0.999s ease;
 
}

.menu-icon {
    font-size: 1.8rem;
    cursor: pointer;
    display: none;
    margin-right: 15px;
}
h2{
    margin-bottom: 20px;
}

/* CARDS */
.card {
    background: #fff;
    border-radius: 15px;
    padding: 30px 40px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.card-1{
 
    height: 330px;  
}
.card:hover {
    transform: translateY(-2px);
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.15);
}
.close-botton{
    background: #f5465d;
    color: #fff;
}
.close-botton:hover{
    background:#f5465d ;
    filter: brightness(110%);
}
.container-main .btn{
    width:150px;
    margin-left: 40%;
}
.container-main .btn:hover{
filter: brightness(90%);
transition: all 0.5s ease-in-out;
}

/* BALANCE CARD */
.balance-card {
    background: linear-gradient(135deg, #ccf6e6, #c1e6da);
    color: goldenrod;
    text-align: center;
    margin-bottom: 25px;
}

.balance-card .balance-amount {
    font-size: 2.2rem;
    font-weight: bold;
    margin-top: 10px;
}

/* DASHBOARD GRID (EQUAL SIZE) */
.dashboard-row {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    grid-template-rows: repeat(2, 1fr);
    gap: 40px;
    width: 100%;
}

.dashboard-left{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 40px;

}
.dashboard-right {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.dashboard-right .btn{
    width:150px;
    margin-left: 40%;
}
.dashboard-heading{
    margin-bottom: 20px;
}
/* Remove default padding/bullets */
.movements-list {
  list-style: none;
  padding: 0;
  margin: 0;
  max-height: 400px;
  overflow-y: auto;
}

.movements-list li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
  margin-bottom: 10px;
  border-radius: 8px;
  font-weight: 500;
  text-transform: uppercase;
  font-size: 0.9rem;
  transition: transform 0.2s ease;
}

/* Subtle hover effect */
.movements-list li:hover {
  transform: translateX(5px);
}

/* Deposit Style */
.deposit {
  background-color: #e6fcf5; 
  color: #087f5b;          
  border-left: 5px solid #087f5b;
}

/* Withdrawal Style */
.withdrawal {
  background-color: #fff5f5; 
  color: #c92a2a;           
  border-left: 5px solid #c92a2a;
}

/* The Amount Span */
.movements-list li span {
  font-family: 'Courier New', Courier, monospace; 
  font-size: 1.1rem;
}



/* Scrollbar */
.movements-list::-webkit-scrollbar {
    width: 6px;
}

/* --FORMS-- */
form {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

form input {
    padding: 12px;
    border-radius: 8px;
    border: 1px solid #ccc;
    transition: all 0.3s ease;
}


form button {
    padding: 12px;
    border: none;
    border-radius: 8px;
    background-image: linear-gradient(to top left, #39b385, #9be15d);;
    color: #fff;
    cursor: pointer;
    font-weight: bold;
    transition: 0.3s;
}


.summary {
  grid-row: 5 / 6;
  display: flex;
  align-items: baseline;
  padding: 0 0.3rem;
  margin-top: 0;
  margin-bottom: 80px;
}

.summary__label {
  font-size: 1.2rem;
  font-weight: 500;
  text-transform: uppercase;
  margin-right: 1rem;
}

.summary__value {
  font-size: 2.2rem;
  margin-right: 2.5rem;
}

.summary__value--in,
.summary__value--interest {
  color: #66c873;
}

.summary__value--out {
  color: #f5465d;
}

.btn--sort {
  margin-left: auto;
  border: none;
  background: none;
  font-size: 1.3rem;
  font-weight: 500;
  cursor: pointer;
}
.close-card button {
  margin-bottom: 0;
}


.utility-card select,
.utility-card input {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 14px;
}
.utility-card h3,.close-card h3 {
  margin-bottom: 15px;
  color: #1e293b;
}
/*login-information*/


.login-container {
            display: flex;
            width: 100%;
            max-width: 900px;
            background-color: white;
            border-radius: 20px;
            overflow: hidden;
            box-shadow: 0 15px 40px rgba(0, 0, 0, 0.25);
            min-height: 550px;
            margin: 60px auto;
        }
        
          .login-left {
            flex: 1;
            background-image: linear-gradient(to top left, #39b385, #9be15d);;
            color: white;
            padding: 50px 40px;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
        
        .login-right {
            flex: 1.2;
            padding: 50px 40px;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
        
        .bank-logo  {
            display: block;
            align-items: center;
            margin-bottom: 10px;
        }
        
        .bank-logo img {
             margin: 10px 20%;
           
        }
  
        .bank-logo h1 {
            margin: 0 30%;
            font-size: 28px;
            font-weight: 700;
            color:var(--color-primary-light);
        }
        
        .welcome-text h2 {
            font-size: 32px;
            margin-bottom: 10px;
            font-weight: 700;
            color: #39b385;
        }
        
        .welcome-text p {
            color: #666;
            font-size: 16px;
            margin-bottom: 40px;
        }
        
        .login-form .form-group {
            margin-bottom: 25px;
        }
        
        .login-form label {
            display: block;
            margin-bottom: 8px;
            color: #333;
            font-weight: 600;
            font-size: 14px;
        }
        
        .input-with-icon {
            position: relative;
        }
        
        .input-with-icon i {
            position: absolute;
            left: 15px;
            top: 50%;
            transform: translateY(-50%);
            color: #777;
        }
        
        .login-form input {
            width: 100%;
            padding: 15px 15px 15px 45px;
            border: 2px solid #e1e8f0;
            border-radius: 10px;
            font-size: 16px;
            transition: all 0.3s;
        }
        
        .login-form input:focus {
            border-color: var(--color-primary-light);
            outline: none;
            box-shadow: 0 0 0 3px rgba(74, 144, 226, 0.1);
        }
        
        
        .login-btn {
            background: linear-gradient(to right, #1e3c72, #2a5298);
            color: white;
            border: none;
            padding: 16px;
            width: 100%;
            border-radius: 10px;
            font-size: 16px;
            font-weight: 600;
            cursor: pointer;
            transition: all 0.3s;
            margin-bottom: 20px;
        }
        
        .login-btn:hover {
            background: linear-gradient(to right, #2a5298, #1e3c72);
            transform: translateY(-2px);
            box-shadow: 0 5px 15px rgba(30, 60, 114, 0.2);
        }
        
        .signup-link {
            text-align: center;
            color: #666;
            font-size: 14px;
        }
        
        .signup-link a {
            color: var(--color-primary-light);
            text-decoration: none;
            font-weight: 600;
        }
        
        .signup-link a:hover {
            text-decoration: underline;
        }
        
        .bank-features {
            margin-top: 40px;
        }
        
        .feature {
            display: flex;
            align-items: center;
            margin-bottom: 20px;
        }
        
        .feature i {
            font-size: 20px;
            color:var(--color-primary-light);
            margin-right: 15px;
            background: rgba(74, 144, 226, 0.1);
            width: 40px;
            height: 40px;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        
        .feature h4 {
            margin-bottom: 5px;
            font-size: 16px;
        }
        
        .feature p {
            color: rgba(255, 255, 255, 0.8);
            font-size: 14px;
        }
        
        .security-note {
            display: flex;
            align-items: center;
            margin-top: 40px;
            color: rgba(255, 255, 255, 0.8);
            font-size: 13px;
        }
        
        .security-note i {
            margin-right: 10px;
            color:var(--color-primary-light);
        }
        
       
        
        /* Error message styling */
        .error-message {
            color: #e74c3c;
            font-size: 14px;
            margin-top: 5px;
            display: none;
        }
        
        .shake {
            animation: shake 0.5s;
        }
        
        @keyframes shake {
            0%, 100% {transform: translateX(0);}
            10%, 30%, 50%, 70%, 90% {transform: translateX(-5px);}
            20%, 40%, 60%, 80% {transform: translateX(5px);}
        }
/* --RESPONSIVE SIDEBAR-- */
@media (max-width: 900px) {
    .menu-icon {
        display: block;
    }

    .close-btn {
        display: block;
    }

    .sidebar {
        position: fixed;
        top: 0;
        left: -250px;
        height: 100%;
    }

    .sidebar.active {
        left: 0;
    }

    .dashboard-row {
        grid-template-columns: 1fr; /* 1 column on small screens */
    }
}
 @media (max-width: 768px) {
            .login-container {
                flex-direction: column;
                max-width: 450px;
            }
            
            .login-left, .login-right {
                padding: 40px 30px;
            }
        }
